<div class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid container">

        <div>
            <a class="navbar-brand fs-4 text-white" href="">Book Shop</a>
        </div>

        <nav class="navbar-nav">
            <div class="nav-item">
                <NavLink  href="" Match="NavLinkMatch.All" class="nav-link fs-5 text-white">
                    Home
                </NavLink>
            </div>   

            <div class="nav-item">
                <NavLink  href="books" Match="NavLinkMatch.All" class="nav-link fs-5 text-white">
                    Books
                </NavLink>
            </div>                  

            <div class="nav-item">
                <NavLink  href="blog" class="nav-link fs-5 text-white">
                    Blog
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink  href="about" class="nav-link fs-5 text-white">
                    About
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink  href="basket" class="nav-link fs-5 text-white">
                    Basket
                </NavLink>
            </div>
        </nav>
    </div>
</div>

