<section class="p-2 row">
    <div class="col py-4 px-2">
        <p class="h1"> <b>Buy</b> and <b>Sell</b> your books for the best price </p>

        <div class="py-2 fs-5 d-flex">
            <NavLink href="/" target="_blank" class="text-dark px-1">
                <i class="bi bi-facebook"></i>
            </NavLink>
            <NavLink href="/" target="_blank" class="text-dark px-1">
                <i class="bi bi-twitter-x"></i>
            </NavLink>
            <NavLink href="/" target="_blank" class="text-dark px-1">
                <i class="bi bi-instagram"></i>
            </NavLink>
        </div>
        
        <p class="fs-5 text-secondary pb-2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Odit sequi perferendis ea maxime vitae natus accusamus iure 
            dolorem accusantium in earum animi ad, nobis magnam.
        </p>

        <div>
           <SearchForm/>            
        </div>        
        
    </div>
    <div class="col img-container">
        <img 
            src="https://images.pexels.com/photos/33703389/pexels-photo-33703389.jpeg" 
            alt="book-img" 
            class="img-fluid rounded object-fit-cover w-100"
        >
    </div>
</section>