 <form class="@formStyles">
    <div class="input-group">
        <input type="text" class="form-control fs-5 border-success" placeholder="Search">
        <input type="submit" value="Search" class="btn btn-success text-white fs-5 border-success">
    </div>
</form>


@code{

    [Parameter]
    public string? formStyles { get; set; } 
}