@inherits LayoutComponentBase

<div>
    <div class="mb-5">
        <NavMenu />
    </div>

    <main class="container minPageHeight">   
        <article >
            @Body
        </article>
    </main>

    <div class="mt-1 pb-0">
        <Footer />
    </div>
</div>


