<section class="p-2 row mb-5">

    <div class="col img-container rounded overflow-hidden d-flex justify-content-center align-items-center">
        <img 
            src="https://images.pexels.com/photos/31764519/pexels-photo-31764519.jpeg" 
            alt="author image" 
            class="img-fluid rounded-circle object-fit-cover w-75"
            style="height: 30rem;"
        >
    </div>

    <div class="col py-2 pe-2 ps-4 d-flex flex-column justify-content-between">
        <div>
            <p class="h1 p0-0 m-0 fs-2"> @AuthorDetails.AuthorName </p>    
            <p class="fs-5 text-secondary fst-italic">Sold 200 books this month</p>           
        
            <p class="fs-5 text-secondary my-3">
                @AuthorDetails.Statement
            </p>     

            <div class="d-flex align-items-center justify-content-start my-2">
                <p class="my-2 mx-2 fs-5 border border-2 border-success rounded p-2 text-success">BestSeller</p>
                <p class="my-2 mx-2 fs-5 border border-2 border-success rounded p-2 text-success">Featured</p>
            </div> 
        </div>     

        <div class="text-end">              
            <button class="btn btn-success fs-5">Follow this Author</button>
        </div>        
        
    </div>
</section>

@code {
    [Parameter] public AuthorModel AuthorDetails { get; set; } = new AuthorModel();
}