<section class="pt-4 px-1 rounded bg-success mb-5">
    <h2 class="text-center mb-4 fw-bold text-white">Best Sellers</h2>

    <div class="row row-cols-4 justify-content-center">
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
    </div>

    <div class="text-center">
        <NavLink href="/books" class="btn btn-light fs-5 mb-5 fw-bold text-success">View All Books</NavLink>
    </div>
</section>

@code{
    
}

