<div class="border border-secondary rounded py-3 px-2 mb-3">
        <h4>By Customer name</h4>
        <div class="fs-5">
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star"></i></span>
        </div>
        <p class="fs-5 text-secondary pt-3 mb-0 pb-0">Verified Purchaser - November 2025 </p>
        <p class="fs-5 text-secondary fst-italic">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, numquam. Esse rem corrupti, quo magnam deserunt amet sequi placeat nam?"</p>
    </div>