<li class="list-group-item fs-5 d-flex justify-content-start align-items-center">
    <img 
        src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg"
        alt="Book cover" 
        style="height: 10rem; width: 8rem"
        class="me-3 rounded"
    >    
    <div>
        <p class="py-0 my-0"><strong>This is a book title</strong></p>
        <p class="text-muted py-0 my-0">by Author Name</p>
        <p class="fs-5 text-muted py-0 my-0">Price: £3.99</p>
        <span class="badge bg-success">Qty: 20</span>
    </div>
</li>