
<div class="card col px-0 mb-5 mx-3 border-success" style="width: 18rem;">
    <img 
        src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg" 
        class="card-img-top object-fit-cover w-100" 
        alt="book"
        style="height: 14rem;"
    >
    <div class="card-body">
        <NavLink href="book/one" class="card-title fw-bold pe-2 fs-5 text-decoration-none">This is a book title</NavLink>               
        <p class="card-text text-secondary fs-6">by Author Name</p>
        <p class="card-text fs-6 pb-0.5 mb-0.5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam a voluptates molestiae.</p>   
                  
        <h5 class="card-title fw-bold text-success ps-2 fs-5 pt-1">£30.00</h5>
        <button class="btn btn-success fs-6">Add to Basket</button>
            
    </div>
</div>

@code{

}