<div class="card col px-0 mb-5 mx-3 border-success" style="width: 18rem;">
    <img 
        src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg" 
        class="card-img-top object-fit-cover w-100" 
        alt="book"
        style="height: 14rem;"
    >
    <div class="card-body">
        <a href="@GetBookUrl(bookDetails.BookId)" class="card-title fw-bold pe-2 fs-5 text-decoration-none">
            @bookDetails.Title
            <span class="fs-6 text-secondary"><i class="bi bi-link-45deg"></i></span>
        </a>               
        <p class="card-text text-secondary fs-6">@bookDetails.Author.AuthorName</p>
        <p class="card-text fs-6 pb-0.5 mb-0.5">@bookDetails.Summary</p>   
                  
        <h5 class="card-title fw-bold text-success ps-2 fs-5 pt-1">£@bookDetails.Price.ToString("F2")</h5>

        <div class="d-flex align-items-center justify-content-between">
            <button class="btn btn-success fs-6">Add to Basket</button>
            <div class="watchlist-btn-wrapper">
                <span class="watchlist-hover-text">Add to watchlist</span>
                <button type="button"
                        class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center watchlist-btn"
                        style="width:35px;height:35px;">
                    <i class="bi bi-plus fs-4"></i>
                </button>
             </div>
        </div>        
    </div>
</div>

@code{
    [Parameter] public BookModel bookDetails { get; set; } = new BookModel(); 

    private string GetBookUrl(int id) => $"/book/{id}";
    
}