<div class="d-flex my-2">
    <div class="mb-2 me-3">
        <img 
            src="https://images.pexels.com/photos/2422178/pexels-photo-2422178.jpeg" 
            class="object-fit-cover rounded" 
            alt="book"
            style="height: 18rem; width: 14rem"
        />
    </div>
    <div>
        <p class="fs-4 fw-bold">This is a book title <br> <span class="text-muted">by Author Name</span></p>
        <div class="fs-5">
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star"></i></span>
        </div>

        <p class="fs-5 pb-0 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aliquid repellat quos amet ut optio molestiae illum accusamus quaerat vero sunt
        </p>
    </div>   

</div>
            