<blockquote class="p-1">
    <div class="fs-5 text-center mb-1">
        <span><i class="bi bi-star-fill"></i></span>
        <span><i class="bi bi-star-fill"></i></span>
        <span><i class="bi bi-star-fill"></i></span>
        <span><i class="bi bi-star-fill"></i></span>
        <span><i class="bi bi-star"></i></span>
    </div>
    <p class="fs-5 text-center pb-0 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aliquid repellat quos amet ut optio molestiae illum accusamus quaerat vero sunt
    </p>
    <p class="fs-5 text-center text-secondary pt-0 mt-0">Jane Doe</p>
</blockquote>