<section>
    <h2  class="text-center mb-4">What Our Customers Say</h2>

    <div class="row row-cols-3 justify-content-center">
        <CustomerReviewCard/>
        <CustomerReviewCard/>
        <CustomerReviewCard/>
    </div>
</section>