@using BookStore.Models

<div class="order-card shadow-sm p-3 mb-4 rounded border border-success border-2">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0 fs-5 fw-bold">Order Number: 25151151515151</h5>
        <span class="badge bg-success fs-6">Pending</span>
    </div>
    <p class="fw-bold fs-5 py-0 my-0">Order Total: £30.00</p>
    <p class="text-muted fs-5 py-0 my-0"> Placed: 20 June 2026</p>
    <p class="text-muted fs-5 py-0 my-0"> Delivered: 20 June 2026</p>
    <hr>

    <OrderHistoryItemCard/>
    <OrderHistoryItemCard/>   
    
</div>

@code {
    
}
