 <EditForm 
    Model="@searchModel" 
    OnValidSubmit="@HandleSearch" 
    class="@formStyles" 
    FormName="SearchForm"
>
    <DataAnnotationsValidator />

    <div class="input-group">
        <InputText class="form-control fs-5 border-success"
            placeholder="Author, Book Title"
            @bind-Value="searchModel.Query" 
        />

        <button 
            type="submit" 
            class="btn btn-success text-white fs-5 border-success"
        >
            Search
        </button>
    </div>

    <ValidationMessage For="@(() => searchModel.Query)" />
</EditForm>


@code{

    [Parameter]
    public string? formStyles { get; set; } 

    private SearchModel searchModel = new();

    private void HandleSearch()
    {
        //TODO: Handle your search logic here
        Console.WriteLine($"Searching for: {searchModel.Query}");
    } 
}