<div class="card border-secondary px-0 col-5 shadow">
    <p class="my-0 py-0 card-header bg-secondary text-white">Address Nickname</p>
    <div class="card-body">
        <p class="my-0 py-0">Address Line one</p>
        <p class="my-0 py-0">Address Line two</p>
        <p class="my-0 py-0">Town</p>
        <p class="my-0 py-0">Postcode</p>
        <div class="mt-3">
            <NavLink class="btn btn-secondary fs-5" href="/update-shipping-details/one">
                Update Shipping Address
            </NavLink>
        </div> 
    </div>                
</div>    