@page "/author/{authorId}"
@rendermode InteractiveServer

<PageTitle>Author</PageTitle>

<AuthorPageHero/>

<hr>
<section>
    <h2>Biography</h2>
    <p class="fs-5 text-secondary py-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus voluptatem ipsam distinctio sapiente quo! Voluptatem, maxime. Officiis ex autem quam facilis enim amet nemo cum id explicabo eligendi dolor, debitis eum ipsa dolorum, officia animi. Rem nisi provident quis vel soluta qui voluptatem at? Eligendi omnis dolorum doloribus eum molestias.</p>
</section>

<hr>
<section>
    <h2>Publications</h2>
    <div class="row row-cols-4 justify-content-center mt-3">
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
        <BookCard/>
    </div>
</section>



@code {
    
    [Parameter]
    public string? authorId { get; set; }
  

    
}