@page "/books"

<PageTitle>Books</PageTitle>

<div class="row">
    <!-- filter and search section-->
    <section class="col-3 pt-3">
        <div class="px-3 pt-4 pb-5 border border-success border-2 rounded mt-5">       
            <h3 class="text-center text-decoration-underline">Search</h3>
            <div class="mx-auto px-2 py-2 w-100 mb-4">        
                <SearchForm 
                    formStyles="mx-auto" 
                    inputsTextStyles="form-control fs-5 border-success w-100 mb-1"
                    buttonStyles="btn btn-success text-white fs-5 border-success w-100"
                    />
            </div>

            <h3 class="text-center text-decoration-underline">Filter</h3>
            <div>
                <BooksFilters/>
            </div>   
        </div>
    </section>

    <!-- Book List section -->
    <section class="col-9">

        <h1 class="fs-2 text-center pb-4 text-decoration-underline">Explore our Book Collection</h1>

        <section class="row row-cols-3 justify-content-center">
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
            <BookCard/>
        </section>

    </section>
</div>









 
@code {
    

  

    
}