@page "/books"

<PageTitle>Books</PageTitle>

<h1 class="fs-2 text-center">Explore our Book Collection</h1>

<div class="mx-auto">
    <SearchForm formStyles="my-4 w-75 mx-auto"/>
</div>

<BooksFilters/>

<section class="row row-cols-3 justify-content-center">
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
    <BookCard/>
</section>
 
@code {
    

  

    
}