@page "/books"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject IBookService BookService
@rendermode InteractiveServer

<PageTitle>Books</PageTitle>

<div class="row">
    <!-- filter and search section-->
    <section class="col-3 pt-3">
        <div class="px-3 pt-4 pb-5 border border-success border-2 rounded mt-5">       
            <h3 class="text-center text-decoration-underline">Search</h3>
            <div class="mx-auto px-2 py-2 w-100 mb-4">        
                <SearchForm 
                    formStyles="mx-auto" 
                    inputsTextStyles="form-control fs-5 border-success w-100 mb-1"
                    buttonStyles="btn btn-success text-white fs-5 border-success w-100 mt-2"
                    external=false
                    PerformSearch="PerformSearch"
                />
            </div>

            <h3 class="text-center text-decoration-underline">Filter</h3>
            <div>
                <BooksFilters ApplyFilters="ApplyFilters"/>
            </div>   
        </div>
    </section>

    <!-- Book List section -->
    <section class="col-9">
        <h1 class="fs-2 text-center pb-4 text-decoration-underline">Explore our Book Collection</h1>
        @if(books.Count == 0)
        {
            @if(searching && !filtersApplied)
            {
                <p class="text-center fs-4">No books found for search term: <b>@searchTerm</b></p>
            }
            else if(filtersApplied && !searching)
            {
                <p class="text-center fs-4">No books found for the selected filters.</p>
            }
            else if(filtersApplied && searching)
            {
                <p class="text-center fs-4">No books found for the selected filters and search term: <b>@searchTerm</b></p>
            }
            else
            {
                <p class="text-center fs-4 text-secondary">No books available.</p>
            }
        }
        else
        {
            @if(searching)
                {
                    <p class="text-center fs-4">Search results for: <b>@searchTerm</b></p>
                }
           <section class="row row-cols-3 justify-content-center">
                @foreach (BookModel bookDetails in books)
                {
                    <BookCard BookDetails="bookDetails" />
                }
            </section>
        }   
        @if(searching)
        {
            <div class="text-center mb-4">
                <button 
                    class="btn btn-success text-white fs-5 border-success" 
                    @onclick="@ViewAllBooks"
                >View All Books</button>  
            </div>     
        }          
    </section>
</div>

@code{
    private List<BookModel> books;    
    private string? searchTerm {get;set;}
    private bool searching {get;set;} = false;
    private bool filtersApplied {get;set;} = false;

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("SearchTerm", out var term))
        {
            searching=true;
            searchTerm = term.ToString();
            books = BookService.GetBooksBySearchParam(searchTerm);
        }
        else
        {      
            searching=false;      
            books = BookService.GetAllBooks();
        }
    }

    private void ViewAllBooks()
    {
        books = BookService.GetAllBooks();
        searching=false;
        filtersApplied=false;
        NavigationManager.NavigateTo("/books");
    }

    private async Task PerformSearch(string term)
    {
        searching=true;
        searchTerm = term;
        books = BookService.GetBooksBySearchParam(searchTerm);
    }

    private async Task ApplyFilters(SelectedFilters selections)
    {
        filtersApplied=true;
        books = BookService.GetBooksByFilters(selections, searchTerm);
    }
}







