@page "/update-password/{userId}"
@using BookStore.Models
@inject NavigationManager NavigationManager

<PageTitle>Update Password</PageTitle>

<EditForm Model="@PasswordModel"
          OnValidSubmit="HandleSubmit"
          FormName="ChangePasswordForm"
          class="w-75 mx-auto fs-5"
>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <p class="fs-2 text-decoration-underline text-center">Update Password</p>  

    <div class="mb-3">
        <label class="form-label">Old Password</label>
        <InputText class="form-control fs-5 border-success" @bind-Value="PasswordModel.OldPassword" type="password" />
    </div>

    <div class="mb-3">
        <label class="form-label">New Password</label>
        <InputText class="form-control fs-5 border-success" @bind-Value="PasswordModel.NewPassword" type="password" />
    </div>

    <div class="mb-5">
        <label class="form-label">Confirm New Password</label>
        <InputText class="form-control fs-5 border-success" @bind-Value="PasswordModel.ConfirmPassword" type="password" />
    </div>

    <div class="d-flex gap-3 mb-5">
          <button type="submit" class="btn btn-success me-2 fs-5 w-50 py-2"> Change Password</button>
          <a class="btn btn-secondary fs-5 w-50 py-2" href="/user-dashboard/one/personal-details">Cancel</a>
    </div>   

</EditForm>

@code {
     [Parameter] public string? userId { get; set; }
     public ChangePasswordModel PasswordModel { get; set; } = new();

     private async Task HandleSubmit()
     {
          if (PasswordModel.NewPassword != PasswordModel.ConfirmPassword)
          {
               // You can show a validation message or use ValidationMessage
               return;
          }

          // Call your user service to update password
         
          //NavigationManager.NavigateTo("/user/details");
     }
    
}


