@page "/payment-details/{userId}"
@using BookStore.Models

<PageTitle>Manage Payment Details</PageTitle>

<h1>Update Payment Details</h1>

@code{
     [Parameter] public string? userId { get; set; }
}