@page "/update-shipping-details/{userId}"
@using BookStore.Models

<PageTitle>Update Shipping Details</PageTitle>

<h1>Update shipping details</h1>

@code{
     [Parameter] public string? userId { get; set; }
}