@page "/user-dashboard"
@rendermode InteractiveServer

<PageTitle>user-dashboard</PageTitle>

<h1>user-dashboard</h1>

<section>
    <h3>Watchlist</h3>
</section>

<section>
    <h3>Followed Author</h3>
</section>

<section>
    <h3>Order History</h3>
</section>

<section>
    <h3>Reviews</h3>
</section>

<section>
    <h3>Personal Details</h3>
</section>



@code {
    

  

    
}